<h1>Movies</h1>
{{#if dbErrorOccurred}}
  <p>Can't display the page now, try again later.</p>
{{else}}
  {{#if movies.length}}
    <ul>
      {{#each movies}}
        <li><a href="/movies/{{id}}">{{title}}</a></li>
      {{/each}}
    </ul>
  {{else}}
    <p>We don't have movies to recommend at the moment.</p>
  {{/if}}
{{/if}}