<h1>Movies</h1>
{{#if movies.length}}
  <ul>
    {{#each movies}}
      <li>

        {{title}}
        ({{grade}}/10)
      </li>{{/each}}
  </ul>
{{else}}
  <p>We don't have movies to recommend at the moment.</p>
{{/if}}