<h1>Update Movie</h1>
<form method="post">
  <div>
    <input type="text" name="name" value="{{movie.title}}" />
  </div>
  <div>
    <input type="number" name="grade" value="{{movie.grade}}" />
  </div>
  <input type="submit" value="Update" />
</form>