<h1>Update Movie</h1>
{{#if validationErrors.length}}
  <p>Couldn't create the movie because:</p>
  <ul>
    {{#each validationErrors}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}
<form method="post">
  <div>
    New Title:
    <input type="text" name="title" value="{{movie.title}}" />
  </div>
  <div>
    New Grade:
    <input type="number" name="grade" value="{{movie.grade}}" />
  </div>
  <input type="submit" value="Update" />
</form>